.remove-side-box {
  color:none;
  background:#0000001a;
}

.trans-text {
  color: transparent !important;
}

.zoom:hover {
  transform: scale(1.05);
  /* transition-delay: 0.5s; */
   transition-duration: 1s;
}
.big-just {
  font-size: 16px;
  text-align: justify;
}
.border-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.18);
}

.border-shadow-red {
  box-shadow: 0 4px 8px 0 rgba(188, 155, 155, 0.2);
}

.block-list {
  list-style: block!important;
}

.block-display {
  display: block!important;
}

.section-bottom-10 {
  padding-bottom: 10px;
}
.right {
  text-align: right;
}

.offset-top-80 {
  padding-top: 80px;
}
.code {
  background: #f0f2f1;
  color: #f4645f;
  padding: 1px 5px;
  border-radius: 3px;
}
